#red {
  color: red;
}
#blue {
  color: blue;
}
#brown {
  color: brown;
}
#orange {
  color: orange;
}
#darkblue {
  color: darkblue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

img {
  width: 150px;
  height: 50px;
}
